Flask>=3
Werkzeug>=3
requests>=2.31
beautifulsoup4>=4.12
nltk>=3.8
pandas<3
numpy
yfinance
pandas_datareader
scikit-learn
matplotlib
xlrd
openpyxl
schedule
akshare
openai
datasets
chromadb
langchain-text-splitters
